In [1]:
import pandas as pd

In [2]:
df= pd.read_excel("excel1.xlsx")

In [3]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

In [4]:
df.tail

<bound method NDFrame.tail of      User_ID Product_ID Gender    Age  Occupation City_Category  \
0    1000001  P00069042      F   0-17          10             A
1    1000001  P00248942      F   0-17          10             A
2    1000001  P00087842      F   0-17          10             A
3    1000001  P00085442      F   0-17          10             A
4    1000002  P00285442      M    55+          16             C
..       ...        ...    ...    ...         ...           ...
267  1000048  P00147742      M  26-35           4             B
268  1000048  P00303742      M  26-35           4             B
269  1000048  P00223242      M  26-35           4             B
270  1000048  P00114942      M  26-35           4             B
271  1000048  P00277442      M  26-35           4             B

    Stay_In_Current_City_Years  Marital_Status  Product_Category  Purchase
0                            2               0                 3      8370
1                            2               0                 1     15200
2                            2               0                12      1422
3                            2               0                12      1057
4                           4+               0                 8      7969
..                         ...             ...               ...       ...
267                          3               1                 1     11420
268                          3               1                 8      5897
269                          3               1                 5      7048
270                          3               1                 1     15783
271                          3               1                 1     11396

[272 rows x 10 columns]>

In [ ]:
(df.describe())

In [5]:
(df.columns)

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category',
       'Purchase'],
      dtype='object')

In [6]:
df["User_ID"]

0      1000001
1      1000001
2      1000001
3      1000001
4      1000002
        ...
267    1000048
268    1000048
269    1000048
270    1000048
271    1000048
Name: User_ID, Length: 272, dtype: int64

In [7]:
pd.read_excel("excel1.xlsx")

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969
...,...,...,...,...,...,...,...,...,...,...
267,1000048,P00147742,M,26-35,4,B,3,1,1,11420
268,1000048,P00303742,M,26-35,4,B,3,1,8,5897
269,1000048,P00223242,M,26-35,4,B,3,1,5,7048
270,1000048,P00114942,M,26-35,4,B,3,1,1,15783
271,1000048,P00277442,M,26-35,4,B,3,1,1,11396

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.columns

In [8]:
df[["Gender","Age","Purchase","Occupation","Product_ID","City_Category","Stay_In_Current_City_Years"]]

,Gender,Age,Purchase,Occupation,Product_ID,City_Category,Stay_In_Current_City_Years
0,F,0-17,8370,10,P00069042,A,2
1,F,0-17,15200,10,P00248942,A,2
2,F,0-17,1422,10,P00087842,A,2
3,F,0-17,1057,10,P00085442,A,2
4,M,55+,7969,16,P00285442,C,4+
...,...,...,...,...,...,...,...
267,M,26-35,11420,4,P00147742,B,3
268,M,26-35,5897,4,P00303742,B,3
269,M,26-35,7048,4,P00223242,B,3
270,M,26-35,15783,4,P00114942,B,3
271,M,26-35,11396,4,P00277442,B,3

In [9]:
df["Gender"]

0      F
1      F
2      F
3      F
4      M
      ..
267    M
268    M
269    M
270    M
271    M
Name: Gender, Length: 272, dtype: object

In [ ]:
df.loc[0:10,"Gender"]

In [ ]:
df.iloc[:, 2]

In [ ]:
df.loc[5]

In [ ]:
df.iloc[5]

In [ ]:
df.sample(5)

In [ ]:
df[df["Gender"]=="M"]

In [10]:

df[df["Product_Category"]==8]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969
9,1000005,P00274942,M,26-35,20,A,1,1,8,7871
11,1000005,P00014542,M,26-35,20,A,1,1,8,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,6073
21,1000008,P00156442,M,26-35,12,C,4+,1,8,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,5982
26,1000009,P00039942,M,26-35,17,C,0,0,8,5887
31,1000010,P00297942,F,36-45,1,B,4+,1,8,5875
45,1000010,P00312142,F,36-45,1,B,4+,1,8,10007
47,1000011,P00192642,F,26-35,1,C,1,0,8,6171
49,1000011,P00189642,F,26-35,1,C,1,0,8,8027
52,1000013,P00129542,M,46-50,1,C,3,1,8,5839
55,1000014,P00276642,M,36-45,0,C,0,0,8,5848
57,1000015,P00247542,M,26-35,7,A,1,0,8,5958
61,1000015,P00166242,M,26-35,7,A,1,0,8,4209
63,1000015,P00348242,M,26-35,7,A,1,0,8,7803
83,1000018,P00157542,F,18-25,3,B,3,0,8,8011
84,1000018,P00044142,F,18-25,3,B,3,0,8,5912
101,1000022,P00115642,M,18-25,15,A,4+,0,8,7801
124,1000024,P00346642,F,26-35,7,A,3,1,8,2230
136,1000026,P00346642,M,26-35,7,B,2,1,8,7814
137,1000026,P00021242,M,26-35,7,B,2,1,8,6098
144,1000027,P00323742,M,26-35,11,C,1,1,8,9836
151,1000028,P00026042,F,26-35,1,C,2,1,8,3904
156,1000030,P00051442,F,36-45,7,C,3,0,8,9735
157,1000030,P00275642,F,36-45,7,C,3,0,8,4166
164,1000033,P00285442,M,46-50,3,A,1,1,8,7854
166,1000033,P00293742,M,46-50,3,A,1,1,8,6074
167,1000033,P00032842,M,46-50,3,A,1,1,8,6119
169,1000033,P00001642,M,46-50,3,A,1,1,8,6129
171,1000033,P00145442,M,46-50,3,A,1,1,8,7888
172,1000033,P00344242,M,46-50,3,A,1,1,8,4035
174,1000033,P00241142,M,46-50,3,A,1,1,8,7909
177,1000033,P00165742,M,46-50,3,A,1,1,8,7994
178,1000033,P00154642,M,46-50,3,A,1,1,8,3897
186,1000034,P00327842,F,18-25,0,A,0,0,8,9846
189,1000035,P00102542,M,46-50,1,C,4+,1,8,6109
190,1000035,P00285442,M,46-50,1,C,4+,1,8,6139
191,1000035,P00121142,M,46-50,1,C,4+,1,8,5897
192,1000035,P00228242,M,46-50,1,C,4+,1,8,3990
193,1000035,P00129542,M,46-50,1,C,4+,1,8,6153
209,1000036,P00120842,M,26-35,3,B,0,0,8,9894
211,1000036,P00086442,M,26-35,3,B,0,0,8,7869
219,1000037,P00085242,F,26-35,9,C,1,0,8,8034
222,1000041,P00235242,F,18-25,4,C,3,0,8,5915
225,1000042,P00003242,M,26-35,8,C,0,1,8,6027
231,1000042,P00288042,M,26-35,8,C,0,1,8,4013
232,1000042,P00313142,M,26-35,8,C,0,1,8,5914
237,1000044,P00110542,M,46-50,17,B,3,1,8,7995
238,1000044,P00279942,M,46-50,17,B,3,1,8,4124
239,1000044,P00303742,M,46-50,17,B,3,1,8,7772
246,1000044,P00302842,M,46-50,17,B,3,1,8,7852
251,1000045,P00212542,F,46-50,16,A,1,1,8,4028
262,1000047,P00031042,M,18-25,4,C,4+,1,8,8043
268,1000048,P00303742,M,26-35,4,B,3,1,8,5897

In [ ]:
df[df["Stay_In_Current_City_Years"].isin(["4+"])]

In [ ]:
df.query("Age == '26-35'")

In [ ]:
df.query("Gender == 'M'")
df.query("City_Category == 'A'")

In [ ]:
df[df['Age'].isna()]

In [ ]:
df2=pd.read_excel("excel1updated.xlsx")

In [ ]:
df2[df2["Purchase"].isna()]

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df2.isna().sum()

In [ ]:
df2.dropna()

In [ ]:
df2.fillna("Trying")

In [ ]:
df2.dropna(subset=["Purchase"])

In [ ]:
df['new'] = df['Gender'] + df['City_Category']

In [ ]:
print(df)

In [ ]:
df[['Occupation',"Marital_Status"]].astype(int)

In [ ]:
df3example=df['Occupation'].astype(int)

In [ ]:
df3example

In [ ]:
df.rename(columns={'Age':'Age'})

In [ ]:
df=df2

In [ ]:
df=df2

In [ ]:
df

In [ ]:
df["Gender"]=df["Gender"].replace("M","Male")

In [ ]:
df

In [ ]:
df=df2

In [ ]:
df["Gender"]=df["Gender"].replace("M","Male")

In [ ]:
df

In [ ]:
df3example.apply(lambda x:x*2)

In [ ]:
(df.groupby('Gender')['Purchase'].min())

In [ ]:
df.groupby('Age')['Purchase'].agg(['mean', 'max'])

In [ ]:
df.groupby('Gender')['Purchase'].agg(['mean', 'max', 'min', 'sum', 'count'])

In [ ]:
df3example

In [ ]:
df2

In [ ]:
df

In [ ]:
df.merge(df2, on='Gender')

In [ ]:
df3example

In [ ]:
print(df)

In [ ]:
My_Df = pd.DataFrame({
    "ID":[10,20,30],
    "Name":["Ayaan","Bike","Cycle"]
})

My_Df2 = pd.DataFrame({
    "ID": [40, 50, 60],
    "Name": ["Daddy", "Elephant", "Fish"]
})

In [ ]:
print(My_Df)

In [ ]:
print(My_Df2)

In [ ]:
My_Df3 =  pd.concat([My_Df, My_Df2],ignore_index=True)

In [ ]:
print(My_Df3)

In [ ]:
import pandas as pd

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'name': ['Ayaan', 'John', 'Sara', 'Mike']
})
orders = pd.DataFrame({
    'order_id': [101, 102, 103],
    'customer_id': [1, 2, 4],
    'amount': [500, 1200, 900]
})

In [ ]:
merged = customers.merge(orders, on='customer_id')
merged

In [ ]:
print(merged)

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    "student_id": [1, 2, 3],
    "name": ["Ayaan", "Rahul", "Sara"]
})
df2 = pd.DataFrame({
    "student_id": [1, 2, 3],
    "marks": [85, 90, 78]
})

In [ ]:
df1 = df1.set_index("student_id")
df2 = df2.set_index("student_id")

result = df1.join(df2)
print(result)