In [3]:
import pandas as pd
df=pd.read_excel("Book 6.xlsx")
#importing excels sheet here


# ALL FORMULAS TO CALCULATE COLUMNS -->>>>>>>>>>>
df["Avg"] = (df["maths"] + df["science"] + df["english"]) / 3
df["Total"] = df["maths"] + df["science"] + df["english"]

# ALL COLUMNS BY DEFAULT VALUES -->>>>>>>>>>>>>>>
df["attendance_percentage"] = 0
df["Result"] = "Status_Awaiting"
df["Remarks"]= "Status_Awaiting"


"""RESULT LOGIC"""
df.loc[(df["Avg"] >= 40) & (df["attendance_percentage"] >= 75), "Result"] = "Pass"
df.loc[(df["Avg"] < 40) & (df["attendance_percentage"] < 75), "Result"] = "Fail(Low marks,attendance)"
df.loc[(df["Avg"] >= 40) & (df["attendance_percentage"] < 75), "Result"] = "Fail(Low attendance)"
df.loc[(df["Avg"] < 40) & (df["attendance_percentage"] >= 75), "Result"] = "Fail(Low marks)"
"""REMARKS LOGIC"""
df.loc[df["Result"] == "Pass",  "Remarks"]="Cleared"
df.loc[df["Result"] == "Fail(Low marks,attendance)" , "Remarks"]="Attendance + Academic Issue"
df.loc[df["Result"] == "Fail(Low attendance)" , "Remarks"]="Attendance Issue"
df.loc[df["Result"] == "Fail(Low marks)" , "Remarks"]="Academic Issue"

"""USE IT TO FILL ALL EMPTY VALUES"""
df.fillna("NaN")

,roll_number,name,maths,science,english,Avg,Total,attendance_percentage,Result,Remarks
0,1,Mike,78,85,69,77.333333,232,0,Fail(Low attendance),Attendance Issue
1,2,John,34,40,28,34.000000,102,0,"Fail(Low marks,attendance)",Attendance + Academic Issue
2,3,Sara,91,88,95,91.333333,274,0,Fail(Low attendance),Attendance Issue
3,4,LALA,70,65,72,69.000000,207,0,Fail(Low attendance),Attendance Issue

In [4]:
# MY WAYS

# df=df.drop(index=[10,11])
# TO DELETE A ROW ALONG WITH ALL HIS COLUMNS

# df.to_excel("Book 6.xlsx", index=False)
# TO SAVE ALL THE APPLIED SCRIPTS (APPLY THIS AFTER EVERY SCRIPT RUN)

# df.loc[len(df)] = {"roll_number":4,"name": "LALA","maths": 70,"science": 65,"english": 72}
# TO ADD A ROW AND ITS DATA IN COLUMNS

#df.rename(columns={"englsih":"english"},inplace=True)
# TO RENAME A COLUMN

# df2 = df["Result"].value_counts().reset_index()
# TO COUNT  COLUMNS

# df.fillna("NaN")
# Used to fill blank values

In [5]:
df

,roll_number,name,maths,science,english,Avg,Total,attendance_percentage,Result,Remarks
0,1,Mike,78,85,69,77.333333,232,0,Fail(Low attendance),Attendance Issue
1,2,John,34,40,28,34.000000,102,0,"Fail(Low marks,attendance)",Attendance + Academic Issue
2,3,Sara,91,88,95,91.333333,274,0,Fail(Low attendance),Attendance Issue
3,4,LALA,70,65,72,69.000000,207,0,Fail(Low attendance),Attendance Issue

In [6]:
df2 = df["Result"].value_counts().reset_index()
df2.columns=["Result","Counts"]
df2.to_excel("Book 6 counts.xlsx")